#timeSelectionDisplay {
  display: block;
}

#details {
  position: absolute;
  top: 40px;
  left: 20px;
}

.additional-info {
  font-size: 11px;
  font-family: arial;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 0.7em 0.7em 0.7em 0;
  max-width: 10em;
}

p {
  margin: 0.2em;
}
